USE [master]
GO
/****** Object:  Database [iMessage]    Script Date: 21.04.2018 22:34:01 ******/
CREATE DATABASE [iMessage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'iMessage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\iMessage.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'iMessage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\iMessage_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [iMessage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [iMessage]
GO
/****** Object:  Table [dbo].[contacts]    Script Date: 21.04.2018 22:34:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacts](
	[contactID] [int] IDENTITY(1,1) NOT NULL,
	[nickID1] [int] NOT NULL,
	[nickID2] [int] NOT NULL,
	[status] [tinyint] NOT NULL CONSTRAINT [DF_contacts_status]  DEFAULT ((2)),
 CONSTRAINT [PK_contacts] PRIMARY KEY CLUSTERED 
(
	[contactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[messages]    Script Date: 21.04.2018 22:34:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[messages](
	[msgID] [int] IDENTITY(1,1) NOT NULL,
	[senderID] [int] NOT NULL,
	[recieverID] [int] NOT NULL,
	[message] [varchar](1000) NOT NULL,
	[sendDate] [datetime] NOT NULL CONSTRAINT [DF_messages_sendDate]  DEFAULT (getdate()),
	[seen] [bit] NOT NULL CONSTRAINT [DF_messages_seen]  DEFAULT ((0)),
 CONSTRAINT [PK_messages] PRIMARY KEY CLUSTERED 
(
	[msgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nicks]    Script Date: 21.04.2018 22:34:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nicks](
	[nickID] [int] IDENTITY(1,1) NOT NULL,
	[nick] [varchar](50) NOT NULL,
	[ip] [varchar](50) NOT NULL,
	[loginTime] [datetime] NOT NULL CONSTRAINT [DF_nicks_loginTime]  DEFAULT (getdate()),
	[loginState] [bit] NOT NULL CONSTRAINT [DF_nicks_loginState]  DEFAULT ((1)),
	[avatar] [image] NULL,
 CONSTRAINT [PK_nicks] PRIMARY KEY CLUSTERED 
(
	[nickID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
